/*头部导航 S*/
.top_bar{
    height: 42px;
    width: 100%;
    line-height: 42px;
}
.top_bar .z_top_nav{
    display: inline-block;
}
.top_bar .z_top_nav .b-zb{
    position: relative;
}
.top_bar .z_top_nav  .b-zb .new{
    width: 22px;
    height: 10px;
    background: url("../img/web1/icons.png") -851px -412px;
    position: absolute;
    top: 7px;
    right: -20px;
}
.top_bar .z_top_nav ul{
    display: inline-block;
    width: 400px;
    height: 42px;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    margin-left: 184px;
}
.top_bar .z_top_nav ul li{
    float: left;
    margin-right: 30px;
    color: #222;
}
.top_bar .z_top_nav ul a:hover{
    color: #0091c1;
}
.top_bar .home {
    width: 50px;
    text-align: right;
    margin-right: 0px;
    background: url(../img/web1/icons.png) no-repeat;
    background-position: -920px -74px;
}
.menu{
    float: right;
    width: 171px;
    height: 42px;
    display: inline-block;
    margin-right: 190px;
}
.menu li{
    float: left;
}
.menu li a:hover{
    color: #0091c1;
}
.menu .i-link{
    display: inline-block;
    width: 58px;
    height: 48px;
    position: relative;
    right: -20px;
    text-align: center;
    top: 0;
    color: white;
    font-size: 14px;
    background: url("../img/web1/b-post.png");
}
.menu .i-link:hover{
    background: url("../img/web1/b-post-hover.png");
    color: white;

}
.menu .s-menu{
    width: 220px;
    height: 64px;
    position: absolute;
    display: block;
    visibility: hidden;
    top: 42px;
    right: 217px;
    z-index: 15;
    border: 0;
    color: #f25d8e;
    font-family:normal;
    font-weight:bold;
    transition: .2s;
    border-radius: 0 0 4px 4px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.16) 0 2px 4px;
}
.menu .s-menu li{
    width: 73px;
    height: 64px;
    border-radius: 0 0 4px 4px;

}
.menu .s-menu li:hover{
    background-color:#e5e9ef ;
}
.menu .s-menu a{
    display: block;
    color: #f25d8e;
    padding: 14px 12px 0 12px;
    line-height: 1;
}
.menu .s-menu a:hover{
    color: #f25d8e;

}
.menu .s-menu i{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto 8px;
}
.menu .s-menu .vp{
    background: url("../img/web1/icons.png") -471px -919px;
}
.menu .s-menu .vm{
    background: url("../img/web1/icons.png") -471px -982px;

}
.menu .s-menu .vc{
    background: url("../img/web1/icons.png") -471px -1753px;

}
/*搜索*/
form{
    float: right;
}
form input{
    width: 110px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #CCD0D7;
    border-radius: 20px;
    position: absolute;
    right: 390px;
    top: 5px;
    padding-left: 10px;
}
form button{
    width: 30px;
    height: 32px;
    border: none;
    vertical-align: middle;
    position: absolute;
    right: 393px;
    top:5px;
    background: url("../img/web1/icons.png") -789px -721px;
}
form button:hover{
    background: url("../img/web1/icons.png") -726px -721px;
    cursor: pointer;
}
/*头部导航 E*/


/*主要内容页面 S*/
.content{
    width: 100%;
    height: 1330px;
    background: url("../img/web1/bg.jpg") no-repeat center top;
}
.content .fix{
    display: inline-block;
    width: 200px;
    height: 218px;
    position: fixed;
    right: 40px;
    top: 450px;
    background-image: url("../img/web1/float.png");
    z-index: 1000;
}
.content .center{
    position: relative;
    width: 1100px;
    height: 1330px;
}
/*游戏导航 S*/
.content .top_a a{
    width: 116px;
    height: 35px;
    position: absolute;
    top: 5px;
}
.content .sbtn{
    background-image: url("../img/web1/strategyBtn.png");
    right: 440px;
}
.content .ibtn{
    background-image: url("../img/web1/introduceBtn.png");
    right: 320px;
}
.content .chat{
    background-image: url("../img/web1/luntan.png");
    right: 200px;
}
/*游戏导航 E*/
/*db_logo*/
.content .top_a .db_logo{
    width: 310px;
    height: 144px;
    background-image: url("../img/web1/logo.png");
    top: 50px;
    left: 50%;
    margin-left: -440px;
}
.content .qrcode{
    width: 288px;
    height: 213px;
    background-image: url("../img/web1/qrcode-bg.png");
    position: absolute;
    top: 375px;
    left: 0;
    margin-left: -170px;
}
.content .code{
    width: 140px;
    height: 140px;
    position: absolute;
    left: 139px;
    top: 48px;

}
.content .iso_btn{
    width: 295px;
    height: 85px;
    display: inline-block;
    position: absolute;
    top: 415px;
    left: 125px;
    background-image: url("../img/web1/ios-btn.png");
}
.content .iso_btn:hover{
    background-image: url("../img/web1/ios-btn-hover.png");

}
.content .an_btn{
    width: 295px;
    height: 85px;
    display: inline-block;
    position: absolute;
    top: 505px;
    left: 125px;
    background-image: url("../img/web1/android-btn.png");
}
.content .an_btn:hover{
    background-image: url("../img/web1/android-btn-hover.png");

}
.content .video{
    width: 185px;
    height: 213px;
    background:url("../img/web1/video.png");
    position: absolute;
    top: 400px;
    left: 430px;
    opacity: 0.7;
}
.content .video:hover{
    opacity:1;
}
.content .treause{
    width: 486px;
    height: 141px;
    background: url("../img/web1/libao-btn.png") no-repeat;
    position: absolute;
    top: 590px;
    left: -42px;
    opacity:0.7;
}
.content .treause:hover{
    opacity:1;
}
.content .player{
    font-family: "Microsoft YaHei";
    position: absolute;
    width: 200px;
    height: 20px;
    line-height: 20px;
    top: 753px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    left: 50%;
    margin-left: -410px;
}
.content .server{
    position: absolute;
    width: 200px;
    height: 20px;
    line-height: 20px;
    top: 753px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    left: 50%;
    margin-left: -136px;
    font-family: "Microsoft YaHei";
}
/*主要内容页面 E*/
/*游戏展示 S*/
.content .games{
    height: 404px;
    width: 1175px;
    position: absolute;
    top:800px;
    left: 0px;
    overflow: hidden;
}
.games  li {
    float: left;
    width: 152px;
}
.games  li div{
    width: 719px;
    height: 404px;
}
.games .div0{
    background: url(../img/web1/1.jpg) no-repeat;
}
.games .div1{
    background: url(../img/web1/2.jpg) no-repeat;
}
.games .div2{
    background: url(../img/web1/3.jpg)no-repeat;
  }
.games .div3{
    background: url(../img/web1/4.jpg)no-repeat;
}
.games span{
    display: inline-block;
    width: 152px;
    height: 404px;
}
.games .span0{
    background:url("../img/web1/nav1.png");
}
.games .span1{
    background:url("../img/web1/nav2.png");
 }
.games .span2{
    background:url("../img/web1/nav3.png");
}
.games .span3{
    background:url("../img/web1/nav4.png");
}
.current {
    width: 719px;
    !important;
}
/*游戏展示 E*/
.footer{
    padding-top: 30px;
    color: #949494;
    height: 140px;
}
.footer a{
    color: #0091c1
}
.footer .logo {
    display: inline-block;
    width: 146px;
    height: 47px;
    margin-left: 185px;
    margin-top: 15px;
    float: left;
    background: url("../img/web1/bilibili-logo.png") no-repeat;
}
.footer .footer-text{
    margin-right: 180px;
    float: right;
    width: 630px;
    height: 80px;
    font: 12px/20px "Microsoft Yahei";
}
